node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
out/
build/
.angular/

coverage/
reports/
jest/
cypress/
cypress/screenshots/
cypress/videos/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

.git/
.gitignore

Dockerfile
docker-compose*.yml
.dockerignore

*.env*
*.local
*.log
